.container
  .card.mt-2
    .card-header
      New patient

    .card-body
      %h1 Editing patient

      = render 'form'

      .mt-3
        = link_to 'Show', @patient
        \|
        = link_to 'Back', patients_path
